<h1> enter acc^ </h1>
<form action="/Register" method="POST">
	<div>
		<label for="name">Username: </label>
		<input type="text" id="name" name="name" required>
	</div> 
	<div>
		<label for="password">Password: </label>
		<input type="text" id="password" name="password" required>
	</div> 
	<button type="submit" >Login</button>
</form>

<a href="/register"> Create an account </a>