<h1> new user+ </h1>
<form action="/Register" method="POST">
	<div>
		<label for="name">Username: </label>
		<input type="text" id="name" name="name" required>
	</div> 
	<div>
		<label for="password">Password: </label>
		<input type="text" id="password" name="password" required>
	</div> 
	<div>
		<label for="email">Email: </label>
		<input type="text" id="email" name="email" required>
	</div> 
	<button type="submit" >Send Email</button>
</form>

<a href="/login"> Already has an account? </a>